body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(218, 235, 232);
    ;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color:rgba(7, 23, 165, 0.683);
    box-shadow: 4px 4px 8px rgba(175, 193, 237, 0.651), 5px 5px 8px rgba(149, 173, 251, 0.6);
    border-radius: 20px;
    max-width: 330px; 
}

.inp {
    width: 75%;
    padding: 20px;
    font-size: 28px;
    border: none;
    border-radius: 0px;
    margin-bottom: 15px;
    margin-top: 20px;
    outline: none;
    text-align: right;
    background: rgba(218, 235, 232, 0.977);
    box-shadow: inset -5px 5px 10px rgba(102, 192, 241, 0.886) , 
    inset 5px -5px 10px rgba(106, 176, 211, 0.902) ;

    color: black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 350px;
}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 40%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 3px 3px 5px rgba(102, 192, 241, 0.9) , 
    3px 3px 5px rgba(106, 176, 211, 0.929) ;
    background-color: rgba(218, 235, 232, 0.977);
    cursor: pointer;
    border: none;
    margin: 10px;
    
    color: black; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.btn:hover {
    background-color:rgba(218, 235, 232, 0.977);
    transform: scale(1.05);
}
